<?xml version="1.0" encoding="UTF-8"?>
<web-app >
  <display-name>mini_pro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  	<filter-name>Session</filter-name>
  	<filter-class>administration.java.controllers.Session</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>Session</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>